/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [CISLO_ZAM]
      ,[MENO]
      ,[VEK]
      ,[PRED_POB]
      ,[POZICIA]
      ,[DATUM_NASTUP]
      ,[VEDUCI]
      ,[PLAN_PREDAJ]
      ,[PREDAJ]
  FROM [Priklad].[dbo].[PREDAJCI]